.table-responsive
	table.table.table-striped
		thead
			tr
				th.text-start.fw-light #
				th ID
				th Node 1
				th Node 2

				th.text-end Capacity

				th.text-end
					span.border-dotted(title="The height of the block that confirmed each channel's opening transaction" data-bs-toggle="tooltip") Opened
					span.ms-1 / Updated
						
				
		
		tbody
			each channel, index in channels
				- var channelTableIndex = (channelTableIndexOffset + index + 1);
				include ./channel-table-row.pug