div(class="table-responsive")
	table(class=("table " + (channelTableNotBordered ? "" : "table-bordered border-top")))
		thead.bg-light
			tr
				th #
				th ID
				th Node 1
				th Node 2
				th Last Update
				th(class="text-right") Capacity
		
		tbody
			each channel, index in channels
				- var channelTableIndex = (channelTableIndexOffset + index + 1);
				include ./channel-table-row.pug