+modal("closeChannelModal", "Close Channel")
	script.
		function closeChannel() {
			$("#responseAlertCloseChannel").hide();

			var data = {};
			data.txid = "#{channelPointTxid}";
			data.txOutput = #{channelPointIndex};
			data.forceClose = $("#forceCloseChannelCheckbox").is(':checked');
			data.speedType = $("#speedTypeValue").val();
			data.speedValue = $("#speedValue").val();

			console.log("data: " + JSON.stringify(data));

			toggleCloseChannelStatus();

			$.ajax({
				type: "POST",
				url: `/close-channel`,
				data: data,
				success: function(response) {
					toggleCloseChannelStatus();
					
					if (response.code && response.details) {
						$("#alertCloseChannelError").show();

						$("#closeChannelErrorDetails").text(response.details);

					} else {
						$("#closeChannelForm").hide();

						$("#alertCloseChannelSuccess").show();
					}

					console.log("response: " + JSON.stringify(response));
				}
			});

			return false;
		}

		function toggleCloseChannelStatus() {
			var disabled = $("#closeChannelButton").prop("disabled");
			
			$("#closeChannelButton").prop("disabled", !disabled).toggleClass("btn-primary").toggleClass("btn-secondary");
			$("#closeChannelStatus").toggle();
		}

		documentReadyFunctions.push(function() {
			$(document).on('change', 'input:radio[name="speedTypeRadio"]', function(event) {
				$("#speedTypeValue").val($(event.target).val());

				if ($(event.target).val() == "target_conf") {
					$("#closeChannelSpeedNote").text("Number of blocks to try to confirm within");

				} else if ($(event.target).val() == "sat_per_byte") {
					$("#closeChannelSpeedNote").text("Fee rate, sat / byte");
				}
			});
		});



	div#alertCloseChannelError.alert.alert-danger(style="display: none;")
		h4.h6 Error
		div There was an error when trying to close this channel:
		div#closeChannelErrorDetails.mt-2

	div#alertCloseChannelSuccess.alert.alert-success(style="display: none;")
		h4.h6 Success
		span Your close channel request has been submitted and your channel should begin closing. See your 
		a(href="/local-channels?status=Pending") pending channels
		span  for more details.

	form#closeChannelForm(onsubmit="return closeChannel();")
		.mb-3
			label.form-label(for="speedValue") Speed

			input(id="speedTypeValue" type="hidden" name="speedType" value="target_conf")

			.mb-3
				.custom-control.custom-radio.custom-control-inline
					input#customRadioInline1.custom-control-input(type='radio' name='speedTypeRadio' value="target_conf" checked="checked")
					label.custom-control-label(for='customRadioInline1') Try to confirm in 
						span.border-dotted(for='customRadioInline1' title="LND will compute a fee rate for your on-chain transaction based on the current state of the network. Note that there is no guarantee that your transaction will be confirmed by the network based on what you set here." data-bs-toggle="tooltip") N or fewer blocks
				.custom-control.custom-radio.custom-control-inline
					input#customRadioInline2.custom-control-input(type='radio' name='speedTypeRadio' value="sat_per_byte")
					label.custom-control-label(for='customRadioInline2') Manual fee (sat/byte)

			input.form-control(id="speedValue" name="speedValue")
			small#closeChannelSpeedNote.text-muted Number of blocks to try to confirm within

		.mb-3
			.custom-control.custom-checkbox
				input.custom-control-input(type="checkbox" id="forceCloseChannelCheckbox")
				label.custom-control-label(for="forceCloseChannelCheckbox")
					span.border-dotted(title="If set, then the channel will be closed forcibly. This means the current commitment transaction will be signed and broadcast." data-bs-toggle="tooltip") Force close
		
		.alert.alert-danger Please use caution when closing channels! Both LNDash and LND itself are beta software.

		.mt-4
			button#closeChannelButton.btn.btn-danger(type="submit")
				i.fas.fa-times.me-2
				span Close Channel

		div#closeChannelStatus.mt-3(style="display: none;")
			span.spinner-border.spinner-border-sm.me-2.text-primary(role="status" aria-hidden="true")
			span Channel close request submitted...


		