.table-responsive
	table.table.table-striped.mb-0
		thead
			tr
				th.text-end #
				th Node
				th Address
				th Last Update
				th.text-end Channels
				th.text-end Capacity
		
		tbody
			each nodeInfo, index in nodeInfos
				if (nodeInfo)
					- var nodeTableIndex = (nodeTableIndexOffset + index + 1);
					include ./node-table-row.pug