span.d-inline.d-md-none #{utils.ellipsizeMiddle(node_pubkey, 12)}
span.d-none.d-lg-inline.d-xxl-none #{utils.ellipsizeMiddle(node_pubkey, 16)}
span.d-none.d-xxl-inline #{utils.ellipsizeMiddle(node_pubkey, config.site.pubkeyMaxDisplayLength)}