div.table-responsive
	table.table.table-bordered.border-top
		thead.bg-light
			tr
				th.text-right #
				th Node
				th Address
				th Last Update
				th(class="text-right") Channels
				th(class="text-right") Capacity
		
		tbody
			each nodeInfo, index in nodeInfos
				- var nodeTableIndex = (nodeTableIndexOffset + index + 1);
				include ./node-table-row.pug