.table-responsive
	table.table.table-striped.mb-0
		thead
			tr
				if (showTableNumbers)
					th.text-end #
				th Node
				th Address
				th Last Update
				th(class="text-end") Channels
				th(class="text-end") Total Capacity
				
		
		tbody
			each node, index in nodes
				include ./node-details-table-row.pug