//- var hsl = utils.colorHexToHsl(fullNetworkDescription.nodeInfoByPubkey[node_pubkey].node.color);

- var node_icon_color = "#000000";
if (fullNetworkDescription && fullNetworkDescription.nodeInfoByPubkey[node_pubkey])
	- var node_icon_color = fullNetworkDescription.nodeInfoByPubkey[node_pubkey].node.color;

.node-color-circle-wrapper
	.node-color-circle-outer(style=("background-color: " +  node_icon_color + "; width: " + node_icon_size + "; height: " + node_icon_size + ";"))
		.node-color-circle-inner(style="background-color: white;")
			svg.node-icon(data-jdenticon-value=node_pubkey)