extends layout4

block headContent
	title All Channels

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Network
	li.breadcrumb-item All Channels
	
block content
	div.clearfix
		div.float-left
			h1.h3 #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()} 
				if (fullNetworkDescription.channels.sortedByLastUpdate.length == 1)
					span Channel
				else
					span Channels

		div.float-right
			div.dropdown
				button.btn.btn-primary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					span Sort: 
					span.font-weight-bold
						if (sort == "last_update-desc")
							| Last Update
						else if (sort == "capacity-desc")
							| Capacity
				div.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuButton")
					a.dropdown-item(href="/channels?sort=last_update-desc") Last Update
					a.dropdown-item(href="/channels?sort=capacity-desc") Capacity

	hr

	if (session.hideChannelsNetworkNote)
		// show nothing
	else
		div.alert.alert-primary.alert-dismissible.shadow-sm(role="alert")
			h3.h5 Note
			div.mb-2
				span This shows all public channels on that network, 
				span.font-weight-bold from the perspective of your node
				span . If your node has been recently started/configured, it may take time before it has a good view of the rest of the public network.

			div
				a(href="/changeSetting?name=hideChannelsNetworkNote&value=true") Don't show this note again
				

			a(href="/changeSetting?name=hideChannelsNetworkNote&value=true", class="close", aria-label="Close", style="text-decoration: none;")
				span(aria-hidden="true") &times;

	- var channelTableIndexOffset = offset;
	include includes/channel-table.pug


	- var channelCount = fullNetworkDescription.channels.sortedByLastUpdate.length;
	if (channelCount > limit)
		- var pageNumber = offset / limit + 1;
		- var pageCount = Math.floor(channelCount / limit);
		- if (pageCount * limit < channelCount) {
			- pageCount++;
		- }
		- var paginationUrlFunction = function(x) {
			- return paginationBaseUrl + "?limit=" + limit + "&offset=" + ((x - 1) * limit + "&sort=" + sort);
		- }
		
		div.mt-4.d-flex.justify-content-center
			- var paginationClass = "pagination-lg";
			include includes/pagination.pug
