extends layout4

block headContent
	title Create Invoice

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Create Invoice
	
block content
	h1.h3 Create Invoice
	hr

	if (createInvoiceResponse != null)
		div.alert.alert-success
			h3.h5 Success

			div.mb-3 Your invoice was created successfully!

			div.form-group
				label.font-weight-bold(for="payment_request") Payment Request
				div.input-group
					textarea.form-control.text-monospace #{createInvoiceResponse.payment_request}

			div.mb-3
				span.font-weight-bold Hash (hex)
				br
				span.text-monospace #{createInvoiceResponse.r_hash_hex}

			div.mb-3
				span.font-weight-bold Hash (base64)
				br
				span.text-monospace #{createInvoiceResponse.r_hash_base64}
			
			if (false)
				pre
					code.json.bg-light #{JSON.stringify(createInvoiceResponse, null, 4)}

	if (!session.admin)
		- var loginRequiredNote = "allow you to create a new invoice.";
		include includes/login-required-alert.pug

	else

		form(method="post", action="/create-invoice")
			div.form-group
				label(for="memo") Memo
				input.form-control.form-control-lg.text-monospace(type="text" id="memo" name="memo")

			div.row
				div.col-md-2
					div.form-group
						label(for="amount") Amount
						div.input-group
							input.form-control.form-control-lg.text-monospace(type="number" id="amount" name="amount")
							div.input-group-append
								div.input-group-text.text-monospace sat

				div.col-md-2
					div.form-group
						label(for="expiration") Expiration
						div.input-group
							input.form-control.form-control-lg.text-monospace(type="number" id="expiration" name="expiration" value="24")
							div.input-group-append
								div.input-group-text.text-monospace hrs

			button(type="submit", class="btn btn-primary") Create Invoice

			