extends layout

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Error

block content
	+pageTitle("Error")
	

	if (message)
		p !{message}
	else
		p Unknown error

	if (error)
		h2 #{error.status}
		pre
			code(class="json") #{error.stack}
