extends layout4

block headContent
	title Zap Connect

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item.active Zap Connect

block content
	h1(class="h2") Zap Connect
	hr

	if (!session.admin)
		- var loginRequiredNote = "give help you connect to a mobile Zap wallet.";
		include includes/login-required-alert.pug

	else

		div.alert.alert-primary Coming soon...

