extends layout

block headContent
	title LND Connect

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item LND Connect

block content
	+pageTitle("LND Connect")


	if (!session.admin)
		- var loginRequiredNote = "help you connect to a mobile Zap wallet.";
		include includes/login-required-alert.pug

	else

		if (!securityNoteAccepted)
			.alert.alert-danger.alert-dismissible.shadow-sm(role="alert")
				h3.h5 Important
				.mb-2
					a(href="https://github.com/LN-Zap/lndconnect" target="_blank") LND Connect
					span  is a protocol for connecting to LND Nodes, often from mobile wallets.

				.mb-2
					span It is convenient, but 
					span.fw-bold dangerous
					span ! This page will display a QR code that embeds the 
					span.fw-bold admin credentials
					span  of your LND Node.

				hr

				.mb-3
					h4.h6.fw-bold Anyone who sees or captures this QR code can control your LND Node, including stealing funds from its internal wallet.

				div
					a.btn.btn-danger(href="/lndconnect?securityNoteAccepted=true")
						i.fas.fa-exclamation-triangle.me-2
						| I Understand - Continue

		
		else

			.alert.alert-primary.shadow-sm(id="hiddenAlert" style="display: none;") The sensitive data on this page has been hidden. Simply refresh the page to see it again.

			#secureContent
				.alert.alert-primary.shadow-sm The sensitive data below will be hidden after 60 seconds: 
					span(id="hideTimer")

				.mb-3
					label.form-label QR Code
					div
						img(src=`/qrcode?data=${encodeURIComponent(lndconnectString)}` style="width: 300px; height: 300px;")

				.mb-3
					label.form-label(for="lndconnectString") LND Connect String
					textarea.form-control(id="lndconnectString" name="lndconnectString" rows="8") #{lndconnectString}

block endOfBody
	if (securityNoteAccepted)
		script.
			function securePage() {

			}
			$(document).ready(function() {
				var hideSeconds = 60;
				var endTime = new Date(new Date().getTime() + hideSeconds * 1000);

				setTimeout(function() {
					$("#hiddenAlert").show();
					$("#secureContent").hide();

				}, hideSeconds * 1000);

				setInterval(function() {
					$("#hideTimer").text(parseInt((endTime.getTime() - new Date().getTime()) / 1000) + " sec");
				}, 200);
			});
