extends layout4

block headContent
	title Local Channels

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item.active My Channels
	
block content
	if (!session.admin)
		h1.h3 My Channels
		hr

		- var loginRequiredNote = "display details about this node's channels.";
		include includes/login-required-alert.pug

	else

		h1.h3 #{localChannels.channels.length.toLocaleString()} 
			if (localChannels.channels.length == 1)
				span Channel
			else
				span Channels
		hr
		
		div(class="table-responsive")
			table(class="table table-bordered border-top")
				thead(class="table-head-with-nav")
					tr
						th.text-right #
						th ID
						th.text-center
							span.border-dotted(title="Whether channel was created by the local node", data-toggle="tooltip") Initiator
						th Remote Node
						th.text-right Value Transfer
						th.text-right Local Balance
						th.text-right Remote Balance
						th(class="text-right") Capacity
						th Last Update
				
				tbody
					each channel, channel_index in localChannels.channels
						include ./includes/local-channel-table-row.pug

