extends layout4

block headContent
	title Login

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Login

block content
	h1(class="h2") Login
	hr

	form(method="post", action="/login")
		div(class="form-group")
			label(for="username") Username
			input(type="text", class="form-control", id="username", name="username")

		div(class="form-group")
			label(for="password") Password
			input(type="password", class="form-control", id="password", name="password")

		button.btn.btn-primary(type="submit") Login

