extends layout4

block headContent
	title Open Channel

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Open Channel

block content
	h1.h3 Open Channel
	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to open a payment channel.";
		include includes/login-required-alert.pug

	else

		form(method="post", action="/openchannel")
			div.form-group
				label(for="pubkey") Remote Node Public Key
				input.form-control.form-control-lg.text-monospace(type="text" id="pubkey" name="pubkey" value=pubkey placeholder="Remote Node Public Key")

			if (pubkey)
				div.card.text-monospace.mb-3.bg-light
					div.card-body
						- var card_node_pubkey = pubkey;
						include includes/node-card.pug

			div.form-group
				label(for="local_balance") Local Balance
				input.form-control.form-control-lg.text-monospace(type="text" id="local_balance" name="local_balance" value=local_balance placeholder="Local Balance")

			div.form-group
				label(for="remote_balance") Remote Balance
				input.form-control.form-control-lg.text-monospace(type="text" id="remote_balance" name="remote_balance" value=remote_balance placeholder="Remote Balance")

			button(type="submit", class="btn btn-primary") Open Channel
