extends layout4

block headContent
	title Query Route

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item.active Query Route
	
block content
	h1.h3 Query Route

	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to query lightning payment routes through the network.";
		include includes/login-required-alert.pug

	else

		div.alert.alert-primary Coming soon...
			