extends layout4

block headContent
	title Routing History

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item.active Routing History
	
block content
	h1.h3 Routing History

	hr

	if (!session.admin)
		- var loginRequiredNote = "show this node's forwarding/routing history.";
		include includes/login-required-alert.pug

	else

		div.alert.alert-primary Coming soon...
			