extends layout4

block headContent
	title Setup

block breadcrumb
	li.breadcrumb-item Setup
	li.breadcrumb-item Set Admin Password
	
block content

	h1.h3 Setup &raquo; Set Admin Password
	hr

	- var setupStep = 1;
	include includes/setup-directions-alert.pug


	form(method="post" action="/setup")
		.mb-3
			label.form-label(for="password") Admin Password
			input.form-control(id="password" name="password" type="password")

		.mb-3
			label.form-label(for="passwordConfirmation") Repeat Password
			input.form-control(id="passwordConfirmation" name="passwordConfirmation" type="password")

		button.btn.btn-primary(type="submit")
			i.fas.fa-key.me-2
			span Set Password
