hr {
	background-color: #555555;
}

.hljs-attr {
	color: #eeeeee;
}

.hljs, .hljs-subst {
	color: #dddddd;
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
	color: #95dbc6;
}

.bg-main {
	background-color: #0c0c0c;
}

body, .text-body {
	color: white !important;
}

.bg-light {
	background-color: #202326 !important;
}


.table-bordered {
	border: 1px solid #2f373f;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #2f373f;
}

.table thead th {
	border-bottom: solid 2px #2f373f;
}

.tab-content {
	background-color: inherit;
}